.social-link-item {
  margin-right: 0.62em;
  color: rgb(85, 26, 139);
  opacity: 0.4;
  transition: opacity 2.45s ease-out;
  -moz-transition: opacity 2.45s ease-out;
  -webkit-transition: opacity 2.45s ease-out;
  -o-transition: opacity 2.45s ease-out;
}

.social-link-item:hover {
  opacity: 1;
}

.column {
  margin-top: 25%;
}

ul li {
  list-style-type: none;
  float: left;
}

.name {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}
